<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2016 Tomáš Janoušek
  This file is a part of locus-rflkt-addon.
  See the COPYING and LICENSE files in the project root directory.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cz.nomi.locusRflktAddon"
          android:versionCode="5"
          android:versionName="0.4+">

  <uses-sdk android:targetSdkVersion="23" android:minSdkVersion="16"/>

  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <!-- google analytics :-( -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application android:icon="@drawable/ic_launcher"
               android:label="@string/app_name"
               android:theme="@style/app_theme">
    <activity android:name=".Main"
              android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!-- put it in Locus menu -> Addons -->
      <intent-filter android:icon="@drawable/ic_notification">
        <action android:name="locus.api.android.INTENT_ITEM_MAIN_FUNCTION" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <service android:name=".MainService" />

    <receiver android:name=".PeriodicUpdateReceiver"
              android:enabled="false">
      <intent-filter>
        <action android:name="locus.api.android.ACTION_PERIODIC_UPDATE" />
      </intent-filter>
    </receiver>
  </application>

</manifest>
